.tipoletra{
    font-size: x-large;
    font-family: serif;
    text-align: -webkit-center;
}
.tipoboton{
    font-size: x-large;
    text-align: -webkit-center;
      width: 150px;
      height: 50px;
      font-family: auto;
      padding: 0px 20px 0px 20px;
     /* position: relative; Establece la posición relativa 
      left: 50px;  Mueve el botón 50px hacia la derecha */
    }


.example-container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  footer {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span{
    font-family: revert;
    color: #000;
  }
  img{
    height: 130px;
    width: 130px;
    padding: 10px 10px;
    
  }
  .mat-drawer {
    padding: 0px 20px 0px 20px;
}
.login-icon {
  background: #f0f0f0;
  color: #0e44c2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px; 
  width: 25px;
  height: 25px;
  padding: 10px 10px 10px 10px;
}


